<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.graphprocesser.mapper.DatasetMapper">
    
    <resultMap type="Dataset" id="DatasetResult">
        <result property="id"    column="id"    />
        <result property="datasetName"    column="dataset_name"    />
        <result property="description"    column="description"    />
        <result property="tags"    column="tags"    />
        <result property="datasetPath"    column="dataset_path"    />
        <result property="size"    column="size"    />
        <result property="version"    column="version"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDatasetVo">
        select id, dataset_name, description, tags, dataset_path, size, version, status, user_id, create_by, create_time, update_by, update_time, remark from tb_dataset
    </sql>

    <select id="selectDatasetList" parameterType="Dataset" resultMap="DatasetResult">
        <include refid="selectDatasetVo"/>
        <where>  
            <if test="datasetName != null  and datasetName != ''"> and dataset_name like concat('%', #{datasetName}, '%')</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
            <if test="version != null "> and version = #{version}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectDatasetById" parameterType="Long" resultMap="DatasetResult">
        <include refid="selectDatasetVo"/>
        where id = #{id}
    </select>

    <insert id="insertDataset" parameterType="Dataset" useGeneratedKeys="true" keyProperty="id">
        insert into tb_dataset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="datasetName != null and datasetName != ''">dataset_name,</if>
            <if test="description != null">description,</if>
            <if test="tags != null">tags,</if>
            <if test="datasetPath != null and datasetPath != ''">dataset_path,</if>
            <if test="size != null">size,</if>
            <if test="version != null">version,</if>
            <if test="status != null">status,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="datasetName != null and datasetName != ''">#{datasetName},</if>
            <if test="description != null">#{description},</if>
            <if test="tags != null">#{tags},</if>
            <if test="datasetPath != null and datasetPath != ''">#{datasetPath},</if>
            <if test="size != null">#{size},</if>
            <if test="version != null">#{version},</if>
            <if test="status != null">#{status},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDataset" parameterType="Dataset">
        update tb_dataset
        <trim prefix="SET" suffixOverrides=",">
            <if test="datasetName != null and datasetName != ''">dataset_name = #{datasetName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="datasetPath != null and datasetPath != ''">dataset_path = #{datasetPath},</if>
            <if test="size != null">size = #{size},</if>
            <if test="version != null">version = #{version},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDatasetById" parameterType="Long">
        delete from tb_dataset where id = #{id}
    </delete>

    <delete id="deleteDatasetByIds" parameterType="String">
        delete from tb_dataset where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>