<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.graphprocesser.mapper.ExperimentResultMapper">
    
    <resultMap type="ExperimentResult" id="ExperimentResultResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="metrics"    column="metrics"    />
        <result property="resultFilePath"    column="result_file_path"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectExperimentResultVo">
        select id, task_id, metrics, result_file_path, create_by, create_time, update_by, update_time, remark from tb_experiment_result
    </sql>

    <select id="selectExperimentResultList" parameterType="ExperimentResult" resultMap="ExperimentResultResult">
        <include refid="selectExperimentResultVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="metrics != null  and metrics != ''"> and metrics like concat('%', #{metrics}, '%')</if>
        </where>
    </select>
    
    <select id="selectExperimentResultById" parameterType="Long" resultMap="ExperimentResultResult">
        <include refid="selectExperimentResultVo"/>
        where id = #{id}
    </select>

    <insert id="insertExperimentResult" parameterType="ExperimentResult" useGeneratedKeys="true" keyProperty="id">
        insert into tb_experiment_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="metrics != null and metrics != ''">metrics,</if>
            <if test="resultFilePath != null">result_file_path,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="metrics != null and metrics != ''">#{metrics},</if>
            <if test="resultFilePath != null">#{resultFilePath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateExperimentResult" parameterType="ExperimentResult">
        update tb_experiment_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="metrics != null and metrics != ''">metrics = #{metrics},</if>
            <if test="resultFilePath != null">result_file_path = #{resultFilePath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExperimentResultById" parameterType="Long">
        delete from tb_experiment_result where id = #{id}
    </delete>

    <delete id="deleteExperimentResultByIds" parameterType="String">
        delete from tb_experiment_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>